<!DOCTYPE html>
<html lang='en'>
    <head>
        {{> base/base-meta }}
        {{> base/base-head }}
    </head>
    <body>
        {{> base/base-header }}

        <div id='globe-graphic-container' class='typeset'>
            {{> graphic/graphic }}
        </div>

        {{> base/base-footer }}
        {{> base/base-svg }}
        {{> base/base-js }}
        {{> base/base-analytics }}
    </body>
</html>
       