<!doctype html>
<html lang='en'>
    <head>
        {{> base/base-meta }}
        {{> base/base-head }}
    </head>
    <body>

        <div id='globe-graphic-container' class='contain' role='main'>
            {{> graphic/graphic }}
        </div>
        
        <footer class='credit theta'>
            <address>Made by <a href='http://www.twitter.com/elainanatario' target='_blank'>Elaina</a> (づ｡◕‿‿◕｡)づ </address>
        </footer>

        {{> base/base-js }}
        {{> base/base-analytics }}
    </body>
</html>
       